html,body {
    height: 100%;
}

body {
    background-image: url("/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
  }