<div class="container">
  <div class="content row">
    <div class="col-md-8">
      <span id="table_text_style"
        >Asztalfoglalás<br /><span style="font-weight: bolder; color: #25bdd6"
          >okosan</span
        >
        és gyorsan!</span
      >
    </div>
    <div class="col-md-4">
      <button class="button">
        <span routerLink="/asztalfoglalas">Asztalfoglalás</span>
      </button>
    </div>
  </div>
</div>
<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore quos voluptatibus laboriosam quam tenetur explicabo. Repellendus, voluptatum quo soluta assumenda voluptate, obcaecati, est in beatae quisquam fugiat ad doloribus!</p>

</div>
